<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
	<localPort>10750</localPort>
	<configServerPort>10590</configServerPort>
	<auth>1234</auth>
	<remoteHost>34.82234</remoteHost>
	<remotePort>12020</remotePort>
	<encryptType>aes-cbc</encryptType>
	<globalProxy>false</globalProxy>
	<whiteSites>
		<site>baidu.com</site>
		<site>youku.com</site>
	</whiteSites>
	<proxySites>
		<site>google.com</site>
		<site>youtube.com</site>
		<site>golang.org</site>
		<site>golang2.org</site>
	</proxySites>
</Configuration>
