<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
	<localPort>10800</localPort>
	<configServerPort>10590</configServerPort>
	<auth>123456</auth>
	<remoteHost>localhost</remoteHost>
	<remotePort>12020</remotePort>
	<encryptType>aes-cbc</encryptType>
	<globalProxy>false</globalProxy>
	<whiteSites>

	</whiteSites>
	<proxySites>

		<site>google.com</site>

	</proxySites>
</Configuration>
