<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
	<localPort>10800</localPort>
	<configServerPort>10590</configServerPort>
	<auth>yourPassword</auth>
	<remoteHost>localhost</remoteHost>
	<remotePort>12000</remotePort>
	<encryptType>aes-cbc</encryptType>
	<globalProxy>false</globalProxy>
	<whiteSites>
	</whiteSites>
	<proxySites>
	</proxySites>
</Configuration>
